---
import Social from '../components/Social.astro';
---

<footer>
  <p>
    <Social platform='twitter' domain='com' userName='MichaelHoumann' />
    <Social platform='github' domain='com' userName='mhoumann87' />
  </p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-block-start: 2rem;
  }
</style>
